{% extends "register/rbase.html" %}
{% import '/register/macros.html' as m %}

{% block headers %}
{{super()}}
<script type="text/javascript">
$(document).ready(function() {
    $('#carmodal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        $('#carform').CarEdit('initform', gCars[button.data('carid')] || {});
        if (button.hasClass('deletecar')) {
            $('#carform input[type=text], #carform input[type=number], #carform select').prop('disabled', true);
            $('#carform [type=submit]').val('Delete');
        } else if (button.hasClass('editcar')) {
            $('#carform input[type=text], #carform input[type=number], #carform select').prop('disabled', false);
            $('#carform [type=submit]').val('Update');
        } else {
            $('#carform input[type=text], #carform input[type=number], #carform select').prop('disabled', false);
            $('#carform [type=submit]').val('Create');
        }
    });
});
var gCars = Array();
var gClasses = Array();
var gIndexes = Array();
{% for c in cars.values()|msort('classcode', 'number') %}
gCars['{{c.carid}}'] = {{c|to_json|safe}};
{%- endfor %}
{% for c in g.classdata.classlist.values()|msort('classcode') -%}
{% set restrict = g.classdata.restrictedIndexes(c.classcode) %}
gClasses['{{c.classcode}}'] = { 'isindexed': {{'true' if c.carindexed else 'false'}}, 'usecarflag': {{'true' if c.usecarflag else 'false'}}, 'idxrestrict': {{restrict[0]|sort|safe}}, 'flagrestrict': {{restrict[1]|sort|safe}} };
{%- endfor %}
{% for i in g.classdata.indexlist.values()|msort('indexcode') -%}
gIndexes['{{i.indexcode}}'] = "{{i.descrip}}";
{% endfor %}
</script>
{% endblock headers %}


{% block content %}
{{m.navbar('cars')}}

<div id='carscontainer'>
{{m.errordisplay()}}

<table>
<tr><td colspan=3 class='title'>Cars in {{g.series}}</td></tr>
{% for car in cars.values()|msort("classcode","number") %}
    <tr><td>
    <div class="btn-group" role="group">
    {% if active[car.carid]|length > 0 %}
        <button class='btn btn-outline-secondary disabled fa fa-pencil' title='Cars registered or in use cannot be edited or deleted'></button>
        <button class='btn btn-outline-secondary disabled fa fa-trash' title='Cars registered or in use cannot be edited or deleted'></button>
    {% else %}
        <button class='editcar   btn btn-outline-primary fa fa-pencil' title='Edit Car' data-carid='{{car.carid}}' data-toggle='modal' data-target='#carmodal'></button>
        <button class='deletecar btn btn-outline-primary fa fa-trash' title='Delete Car' data-carid='{{car.carid}}' data-toggle='modal' data-target='#carmodal'></button>
    {% endif %}
    </td>
    <td class='cardisplay'>{{m.carDisplay(car)}}</td></tr>
{% endfor %}
<tr><td colspan=3 class='button'><button class='newcar btn btn-outline-primary' title='Create Car' data-toggle='modal' data-target='#carmodal'>Create New Entry</button></td></tr>
</table>

</div> {# container #}

{{m.modal('carmodal', 'Car Editor', carform.html('carform', url_for('.carspost'), 'post', 'col-md-3', 'col-md-9'))}}

{% endblock content %}
