{% extends "register/rbase.html" %}
{% import '/register/macros.html' as m %}

{% block headers %}
{{super()}}
<script type="text/javascript">
$(document).ready(function() { 
    $('[id^=eventtog]').each(function (ii, val) {
        add_collapse_icons('#'+this.id); 
    });

    $('#registermodal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        $('#registerform').RegEdit('initform', button.data('eventid'), button.data('limit'));
    });
});

var gRegistered = Array();
{% for e in events %}
gRegistered[{{e.eventid}}] = {{registered[e.eventid]|to_json|safe}};
{%- endfor %}

</script>
{% endblock headers %}


{% block content %}

{{m.navbar('events')}}

<div class='container'>

<div class='row'>
<div class='col text-center'>
ical link for all the registrations for all current series
<a class='registeredlink' href='{{url_for(".ical", driverid=g.driver.driverid)}}'><span class='fa fa-calendar'></span></a>
<div class='formerror'>{{ m.formerrors(formerror) }}</div>
</div>
</div>
</div>

<div id='eventscontainer' class='container'>

{% for ev in events %}
    {% set eclass = ev.isOpen() and "eventopen show" or "eventclosed" %}
    <div class='eventheader {{eclass}} row justify-content-start'>
        <a data-toggle='collapse' href='#eventtog{{ev.eventid}}'>
        <span class='fa'></span>
        <span class='eventdate'>{{ev.date.strftime('%a %b %d')}}</span>
        <span class='eventname'>{{ev.name}}</span>
        </a>
    </div>

    <div id='eventtog{{ev.eventid}}' data-eventid='{{ev.eventid}}' class='eventholder {{eclass}} collapse row'>
    {{eventdisplay(ev, cars, registered[ev.eventid], payments[ev.eventid])}}
    </div>

{% endfor %}
</div>

{% call m.modal('registermodal', 'Register Cars', '') %}
    <form id='registerform' action='{{url_for(".events")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        {% for c in cars.values() %}
        <div class='row'>
        <input class="col-2" name="{{c.carid}}" type="checkbox" value="y"/>
        <label class='col-10' for="{{c.carid}}">{{m.carDisplay(c)}}</label>
        </div>
        {% endfor %}
        <div class='row'>
        <div class='col-2'></div>
        <div class='col-10 text-center'><span class='statuslabel formerror'></span></div>
         </div>
        <div class='row'>
        <div class='col-2'></div>
        <div class='col-10'><input type='submit' class='btn btn-primary' value='Update'/></div>
         </div>
    </form>
{% endcall %}

{% endblock content %}


{% macro  entryLink(ev, text) %}
<a class='viewlink' href='{{url_for('.view', eventid=ev.eventid)}}'>{{text}}</a>
{% endmacro %}

{% macro  eventdisplay(ev, cars, registered, payments) %}
    <div class='insidewrapper row'> {# have to reset row inside collapse it seems #}
    <div class='detailscontainer col-5'>
    <div class='header'>Details</div>

    <dl>
    {% if not ev.hasOpened() %}
    <dt>Opens</dt><dd>{{ev.regopened.strftime('%b %d at %I:%M%p')}}</dd>
    {% endif %}
    <dt>{{ev.hasClosed() and "Closed" or "Closes"}}</dt><dd>{{ev.regclosed.strftime('%b %d %I:%M %p')}}</dd>

    {% for k, v in ev.attr.items() -%}
    {% if k not in ('paypal', 'cost', 'notes') and v: %}
    <dt>{{k|title}}</dt><dd>{{v}}</dd>
    {% endif %}
    {%- endfor %}

    {%if ev.hasOpened() %}
        {% if ev.totlimit %}
            {% if ev.attr.doublespecial %}
                <dt>Single Entries</dt><dd>{{entryLink(ev, "%s/%s" % (ev.drivercount, ev.totlimit))}}</dd>
                <dt>Total Entries</dt><dd>{{entryLink(ev, ev.entrycount)}}</dd>
            {% else %}
                <dt>Entries</dt><dd>{{entryLink(ev, "%s/%s" % (ev.entrycount, ev.totlimit))}}</dd>
            {% endif %}
        {% else %}
            <dt>Entries</dt><dd>{{entryLink(ev, ev.entrycount)}}</dd>
        {% endif %}
    {% endif %}

    {% if ev.isOpen() %}
        {% if ev.attr.cost %}<dt>Cost</dt><dd>{{ev.attr.cost}}</dd>{% endif %}
        {% if ev.attr.paypal %}<dt>Paypal</dt><dd>{{m.paypalLink(ev)}}</dd>{% endif %}
    {% endif %}

    {% if not ev.hasClosed() and ev.attr.notes %}
        <dt>Notes</dt><dd>{{ev.attr.notes}}</dd>
    {% endif %}
    </dl>

    </div>

    <div class='eventcarlist col-7'>
        <div class='header'>Registered Cars</div>
        <ol>
        {% for carid in registered %}
            <li>
            {{m.carDisplay(cars[carid])}}
            </li>
        {% endfor %}
        </ol>

        {% if ev.isOpen() %}
            {% if ev.attr.doublespecial and registered|length > 0 %}
                <div class='alert alert-warning'>Double entries are allowed but not guaranteed for this event yet</div>
            {% endif %}

            {% if ev.mylimit > 0 or registered|length > 0 %}
            <button class='register btn btn-outline-primary' data-eventid='{{ev.eventid}}' data-limit='{{ev.mylimit}}' data-toggle='modal' data-target='#registermodal'>Add/Change Your Registration</button>
            {% endif %}

            {% if ev.limitmessage %}
            <div class='alert alert-warning'>{{ev.limitmessage}}</div>
            {% endif %}

            <ul class='payments'>
            {% for p in payments %}
                <li>{{p.amount}} ({{p.status}})</li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>
    </div>

{% endmacro %}


