{% extends "register/rbase.html" %}
{% import '/register/macros.html' as m %}

{% block headers %}
{{super()}}
<script type="text/javascript">
$(document).ready(function() { 
    $('[id^=eventtog]').each(function (ii, val) {
        add_collapse_icons('#'+this.id); 
    });

    $('#registermodal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        initregform('#registerform', button.data('eventid'), button.data('limit'), button.data('msg'))
    });

    $('#registerform input[type=submit]').click(function (e) {
        e.preventDefault();
        $('#registermodal').modal('hide');
        var form = $('#registerform');
        var eventid = form.find('input[name=eventid]').val();
        var targetdiv = $('#eventtog'+eventid);
        var sheight = targetdiv.height();
        targetdiv.html('<i class="fa fa-spinner fa-pulse fa-3x fa-fw text-center"></i>');
        targetdiv.height(sheight);

        $.ajax({
            dataType: "html",
            url: form.attr('action'),
            data: form.serialize(),
            method: 'POST',
            success: function(data) { targetdiv.html(data); },
            error: function(xhr, stat, error) { targetdiv.html('<div class="error">'+error+'</div>'); },
            complete: function(xhr) { targetdiv.height('auto'); }
            });
    });
});

function initregform(id, eventid, limit, msg)
{
    var me = $(id);
    var checkmax = function() {
        var dodisable = (me.find(":checked").length >= limit);
        me.find('input[type=checkbox]:unchecked').prop('disabled', dodisable);
        me.find('.statuslabel').html( dodisable && msg || "");
    };

    me.find('input[name=eventid]').val(eventid);
    me.find('input[type=checkbox]').prop('checked', false).prop('disabled', false).click(checkmax);
    gRegistered[eventid].forEach(function (carid) {
        me.find("input[name="+carid+"]").prop('checked', true);
    });
    checkmax();
}

var gRegistered = Array();
</script>
{% endblock headers %}


{% block content %}

{{m.navbar('events')}}

<div class='container'>

<div class='row'>
<div class='col text-center'>
{{m.errordisplay()}}
</div>
</div>
</div>

<div id='eventsouter'>
<div id='eventscontainer' class='container'>
    <div class='title'>Events in {{g.series}}</div>
{% for ev in events %}
    {% set eclass = ev.isOpen() and "eventopen show" or "eventclosed" %}
    <div class='eventheader {{eclass}} row justify-content-start'>
        <a data-toggle='collapse' href='#eventtog{{ev.eventid}}'>
        <span class='fa'></span>
        <span class='eventdate'>{{ev.date.strftime('%a %b %d')}}</span>
        <span class='eventname'>{{ev.name}}</span>
        </a>
    </div>

    <div id='eventtog{{ev.eventid}}' data-eventid='{{ev.eventid}}' class='eventholder {{eclass}} collapse row'>
    {{m.eventdisplay(ev, cars, registered[ev.eventid])}}
    </div>

{% endfor %}
</div>
</div>

{% call m.modal('registermodal', 'Register Cars', '') %}
    <form id='registerform' action='{{url_for(".eventspost")}}' method='POST'>
        <input type='hidden' name='eventid' value=''/>
        <div class='row'>
        <div class='col text-center'><a href='cars'><span class='fa fa-car'></span>Create,Edit and Delete Cars Here</a></div>
         </div>
        {% for c in cars.values() %}
        <div class='row'>
        <input class="col-2" name="{{c.carid}}" type="checkbox" value="y"/>
        <label class="col-10" for="{{c.carid}}">{{m.carDisplay(c)}}</label>
        </div>
        {% endfor %}
        <div class='row'>
        <div class='col text-center'><span class='statuslabel error'></span></div>
        </div>
        <div class='row'>
        <div class='col'><input type='submit' class='btn btn-primary' value='Update'/></div>
        </div>
    </form>
{% endcall %}


{% endblock content %}

