{% extends "/register/rbase.html" %}

{% block headers %}
{{super()}}
<script type="text/javascript">
$(document).ready(function() {
    options = { onkeyup: false }
    $("#loginform").validate(options);
    $("#resetform").validate(options);
    $("#registerform").validate(options);
});
</script>
<style>
</style>
{% endblock headers %}

{% block content %}

<div id='loginouter' class='container'>

<h1>Scorekeeper</h1>
<nav class="nav nav-tabs justify-content-center" role="tablist">
    <a class="nav-link {{active=='login' and 'active' or ''}}"    role="tab" data-toggle="tab" href="#login">Login</a>
    <a class="nav-link {{active=='reset' and 'active' or ''}}"    role="tab" data-toggle="tab" href="#reset">Reset</a>
    <a class="nav-link {{active=='register' and 'active' or ''}}" role="tab" data-toggle="tab" href="#register">Register</a>
</nav>

<div class='tab-content'>
<div class='error'>
{% if loginerror is string: %}
{{loginerror}}
{% else %}
{% for field, msg in loginerror.items(): %}
<div>{{field}} {{msg[0]|replace("Field","")}}</div>
{% endfor %}
{% endif %}
</div>

<div id='login' role="tabpanel" class='tab-pane {{active=='login' and 'active' or ''}}'>
<form id='loginform' action="{{url_for('.login')}}" method="post">
{{ login.csrf_token }}
{{ login.gotoseries }}
{{ login.username(class_="col required", minlength="6", placeholder="username") }}
{{ login.password(class_="col required", minlength="6", placeholder="password") }}
{{ login.submit(  class_="col btn btn-primary") }}
<small class='form-text text-muted'>If you had a profile in the previous system, use the Reset tab to set a username and password</small>
</form>
</div>

<div id='reset' role="tabpanel" class='tab-pane {{active=='reset' and 'active' or ''}}'>
<div class='error'>{{reseterror}}</div>
<form id='resetform' action="{{url_for('.login')}}" method="post">
{{ reset.csrf_token }}
{{ reset.firstname(class_="col required", minlength="2", placeholder="firstname") }}
{{ reset.lastname( class_="col required", minlength="2", placeholder="lastname") }}
{{ reset.email(    class_="col required",                placeholder="email") }}
{{ reset.submit(   class_="col btn btn-primary") }}
<input type="text" name="message" value="" class="col"/>
<small class='form-text text-muted'>If you do not have a valid email in your profile, you must contact us to reset your login information</small>
</form>
</div>

<div id='register' role="tabpanel" class='tab-pane {{active=='register' and 'active' or ''}}'>
<div class='error'>{{registererror}}</div>
<form id='registerform' action="{{url_for('.login')}}" method="post">
{{ register.csrf_token }}
{{ register.gotoseries }}
{{ register.firstname(class_="col required", minlength="2", placeholder="firstname") }}
{{ register.lastname( class_="col required", minlength="2", placeholder="lastname") }}
{{ register.email(    class_="col required",                placeholder="email") }}
{{ register.username( class_="col required", minlength="6", placeholder="username") }}
{{ register.password( class_="col required", minlength="6", placeholder="password") }}
{{ register.submit(   class_="col btn btn-primary") }}
<input type="text"     name="message"   value=""         class="col" />
<small class='form-text text-muted'>This is for new users who haven't run in an event.  This will not link to any previous profiles</small>
</form>
</div>

</div>
</div> <!-- loginouter -->
{% endblock content %}
