{% extends "/register/rbase.html" %}

{% block headers %}
{{super()}}
<script type="text/javascript">
$(document).ready(function() {
    options = { onkeyup: false }
    $("#loginform").validate(options);
    $("#resetform").validate(options);
    $("#registerform").validate(options);
});
</script>
<style>
</style>
{% endblock headers %}

{% block content %}

<div id='loginouter'>

<h1>Scorekeeper</h1>
<nav class="nav nav-tabs justify-content-center" role="tablist">
    <a class="nav-link {{loginactive and 'active' or ''}}"    role="tab" data-toggle="tab" href="#login">Login</a>
    <a class="nav-link {{resetactive and 'active' or ''}}"    role="tab" data-toggle="tab" href="#reset">Reset</a>
    <a class="nav-link {{registeractive and 'active' or ''}}" role="tab" data-toggle="tab" href="#register">Register</a>
</nav>

<div id='tabs' class='tab-content'>

<div id='login' role="tabpanel" class='tab-pane {{loginactive and 'active' or ''}}'>
<div class='error'>{{loginerror}}</div>
<form id='loginform' action="{{url_for('.login')}}" method="post">
<input type="hidden"   name="gotoseries" value="{{gotoseries}}" class="col"/>
<input type="text"     name="username"   value=""               class="col required" minlength="6" placeholder="username"/>
<input type="password" name="password"   value=""               class="col required" minlength="6" placeholder="password"/>
<input type="submit"   name="submit"     value="Login"          class="col btn btn-primary"/>
<small class='form-text text-muted'>If you had a profile in the previous system, use the Reset tab to set a username and password</small>
</form>
</div>

<div id='reset' role="tabpanel" class='tab-pane {{resetactive and 'active' or ''}}'>
<div class='error'>{{reseterror}}</div>
<form id='resetform' action="{{url_for('.login')}}" method="post">
<input type="hidden"  name="gotoseries" value="{{gotoseries}}" class="col"/>
<input type="text"    name="firstname"  value=""               class="col required" minlength="2" placeholder="firstname"/>
<input type="text"    name="lastname"   value=""               class="col required" minlength="2" placeholder="lastname"/>
<input type="email"   name="email"      value=""               class="col required"               placeholder="email"/>
<input type="text"    name="message"    value=""               class="col"/>
<input type="submit"  name="submit"     value="Send Reset Information" class="col btn btn-primary"/>
<small class='form-text text-muted'>If you do not have a valid email in your profile, you must contact us to reset your login information</small>
</form>
</div>

<div id='register' role="tabpanel" class='tab-pane {{registeractive and 'active' or ''}}'>
<div class='error'>{{registererror}}</div>
<form id='registerform' action="{{url_for('.login')}}" method="post">
<input type="hidden"   name="gotoseries" value="{{gotoseries}}" class="col"/>
<input type="text"     name="firstname" value=""         class="col required" minlength="2" placeholder="firstname"/>
<input type="text"     name="lastname"  value=""         class="col required" minlength="2" placeholder="lastname"/>
<input type="email"    name="email"     value=""         class="col required"               placeholder="email"/>
<input type="text"     name="username"  value=""         class="col required" minlength="6" placeholder="username"/>
<input type="password" name="password"  value=""         class="col required" minlength="6" placeholder="password"/>
<input type="text"     name="message"   value=""         class="col" />
<input type="submit"   name="submit"    value="Register" class="col btn btn-primary"/>
</form>
</div>

</div>
</div> <!-- loginouter -->
{% endblock content %}
