
{% macro navbar(current) %}
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='navbar-brand'>
        <img src='/static/images/cone.png'/>
        Scorekeeper Reg
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li id="seriesdropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">{{g.series}}</a>
          <div class="dropdown-menu">
          {% for s in g.activeseries %}
            <a class="dropdown-item" href="{{url_for('.index', series=s)}}">{{s}}</a>
          {% endfor %}
          </div>
        </li>
        <li class="nav-item {{current=='profile' and 'active'}}"><a class="nav-link" href="{{url_for(".profile")}}">Profile</a></li>
        <li class="nav-item {{current=='cars' and 'active'}}"><a class="nav-link" href="{{url_for(".cars")}}">Cars</a></li>
        <li class="nav-item {{current=='events' and 'active'}}"><a class="nav-link" href="{{url_for(".events")}}">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for(".logout")}}">Logout</a></li>
    </ul>
  </div>
</nav>
{% endmacro %}


{% macro formerrors(formerror) %}
<div class='error row'>
{% if formerror is string: %}
{{formerror}}
{% else %}
{% for field, msg in formerror.items(): %}
<div>{{field}} {{msg[0]|replace("Field","")}}</div>
{% endfor %}
{% endif %}
</div>
{% endmacro %}


{% macro driverDisplay(driver) %}
{% set basic = ('address', 'city', 'state', 'zip', 'phone', 'brag', 'sponsor') %}

<span class='name'>{{driver.firstname}} {{driver.lastname}}</span>
<span class='email'>{{driver.email}}</span>
<span class='membership'>{{driver.membership}}</span>
<span class='address'>{{driver.attr.address}}</span>
<span class='csz'>{{driver.attr.city}} {{driver.attr.state}} {{driver.attr.zip}}</span>
<span class='phone'>{{driver.attr.phone}}</span>
<span class='brag'>Brag: {{driver.attr.brag}}</span>
<span class='dsponsor'>Sponsor: {{driver.attr.sponsor}}</span>

{% for k, v in driver.attr.items(): -%}
{%- if k not in basic -%}
<span class='{{k}}'>{{v}}</span>
{%- endif -%}
{%- endfor %}

<a class='registeredlink' href='{{url_for(".ical", driverid=driver.driverid)}}'>
<img src='/images/calendaricon.png'>Registered Cars iCal Link
</a> 

<input  type='button' value='Edit' class='editprofile' data-driverid='{{driver.id}}'/> 
{% endmacro %}


{% macro carDisplay(car) %}
{% set istr = g.classdata.getIndexStr(car) %}
<div class='cardisplay'>
<span class='code'>{{car.classcode}}/{{car.number}} {{istr and "("+istr+")" or ""}}</span>
<span class='desc'>{{car.attr.year}} {{car.attr.make}} {{car.attr.model}} {{car.attr.color}}</span> 
</div>
{% endmacro %}


{% macro  paypalLink(event) %}
	<form class='paypalform' action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_blank'>
	<span class='eimage'>
	<input type='hidden' name='cmd' value='_xclick' />
	<input type='hidden' name='business' value='{{event.paypal}}' />
	<input type='hidden' name='item_name' value='{{event.name}}' />
	<input type='hidden' name='custom' value='{{g.driver.driverid}}/{{event.eventid}}' />
	<input type='hidden' name='amount' value='{{event.cost}}' />
	<input type='hidden' name='currency_code' value='USD' />
	<input type='hidden' name='notify_url' value='{{url_for('.ipn')}}'>
	<input type='image' src='https://www.paypal.com/en_US/i/btn/x-click-but3.gif' name='submit'
						alt='Make payments with payPal - it&#039;s fast, free and secure!' />
	</span>
	</form>
{% endmacro %}


