*.swp
*.pyc
*.o
*.log*
swingapps/*.dll
swingapps/*.so
swingapps/bin
pythonwebservice/nwrsc/static/*.js
pythonwebservice/nwrsc/static/*.css
pythonwebservice/nwrsc/static/.webassets-cache
pythonwebservice/nwrsc.egg-info
pythonwebservice/build
pythonwebservice/dist
installers/stage
installers/*.exe
