*.pyc
*.o
*.log
*.version
wwsccapps*.jar
WWSCC*.exe
swingapps/*.dll
swingapps/bin
installers/windows/python/Lib/site-packages/nwrsc-*
pythonwebservice/rundir/archive
pythonwebservice/rundir/series
pythonwebservice/rundir/data
pythonwebservice/nwrsc.egg-info
pythonwebservice/build
pythonwebservice/dist
