recursive-include nwrsc/static/images *
recursive-include nwrsc/static/js *
recursive-include nwrsc/static/scss *
recursive-include nwrsc/templates *
include nwrsc/static/robots.txt
include nwrsc/model/*.sql
