{% extends "base.html" %}

{% block headers %}
<link rel="stylesheet" href="/static/results.css" />
<style type='text/css'>
td { border-top: 1px dashed black; padding: 2px 10px 1px 10px; }
td.sort { font-weight: bold; }
h2 { margin-bottom: 0px; }
h4 { margin-top: 0px; }
</style>
{% endblock headers %}


{% block content %}
<h2>{{event.name}} - Dialins</h2>
<h4>Ordered by {{orderkey}}</h4>

<table class='dialins sortable'>
<tr>
<th class='sorttable_nosort'>A</th>
<th class='sorttable_nosort'>O</th>
<th class='sorttable_nosort'>L</th>
<th>Name</th>
<th>Class</th>
<th>Index</th>
<th>Value</th>
<th>Net</th>
<th>ClsDiff</th>
<th>Bonus</th>
<th>Regular</th>
</tr>

{% set ladies = [] %} {# kludge to get around Jinja's limits on variable modifications in template #}
{% set open = [] %}
{%- for e in entrants -%}
    <tr>
    <td>{{loop.index}}</td>
    {%- if e.classcode[0] == 'L' -%}
        {% set __ = ladies.append(1) %}
        <td></td>
        <td>{{ladies|length}}</td>
    {%- else -%}
        {% set __ = open.append(1) %}
        <td>{{open|length}}</td>
        <td></td>
    {%- endif -%}
    <td>{{e.firstname}} {{e.lastname}}</td>
    <td>{{e.classcode}}</td>
    <td>{{e.indexstr}}</td>
    <td>{{e.indexval}}</td>
    <td class="{{orderkey=='net'     and 'sort'}}">{{e.net|t3}}</td>
    <td class="{{orderkey=='prodiff' and 'sort'}}">{{e.prodiff|t3}}</td>
    <td>{{e.bonusdial|t3}}</td>
    <td>{{e.prodial|t3}}</td>
    </tr>
{%- endfor -%}
{% endblock content %}
