<table class='forcelayout'><tr><td class='fullwidth' colspan='2'>

<!-- runs -->
<table id='resultstable' class='res'>
<tbody>
<tr class='header'><th colspan='{{5}}'>{{driver.firstname}} {{driver.lastname}} - Course {{driver.lastcourse}}</th></tr>
<tr class='titles'>
<th width='10%'>#</th><th width='35%'>Raw</th><th width='10%'>C</th><th width='10%'>G</th><th width='35%'>Net</th></tr>

{% for ii in range(event.runs) %}
{% set run = driver.runs[driver.lastcourse-1][ii] %}

{% if run.status != 'PLC' %}
<tr class='{{run.norder==1 and 'highlight' or ''}} {{run.oldbest and 'improvedon' or ''}} {{run.ispotential and 'couldhave' or ''}}'>
<td>{{run.run}}</td>
<td>{{run.raw|t3}}
{% if run.rawimp is defined %}<span class='change'>[{{run.rawimp|t3(sign=True)}}]</span>{% endif %}
</td>
<td>{{run.cones}}</td>
<td>{{run.gates}}</td>
{% if run.status != "OK" %}
<td><span class='status'>{{run.status}}</td>
{% else %}
<td>{{run.net|t3}} {% if run.netimp %}<span class='change'>[{{run.netimp|t3(sign=True)}}]</span>{% endif %}</td>
{% endif %}
</tr>
{% endif %}

{% endfor %}

</tbody>
</table>


<!-- end runs -->

</td></tr><tr><td class='halfwidth'>

<!-- class list -->

<table id='classtable' class='res'>
<tbody>
<tr class='header'><th colspan='6'>Event - {{driver.classcode}}</th></tr>
<tr class='titles'><th>#</th><th>Name</th><th>Idx</th><th>Net</th><th colspan='2'>Need (Raw)</th></tr>
{% for e in group %}
<tr class='{{e.current and 'highlight' or ''}} {{e.ispotential and 'couldhave' or ''}} {{e.isold and 'improvedon' or ''}}'>
<td>{{e.position}}</td>
<td>{{e.firstname}} {{e.lastname}}</td>
<td>{{e.indexstr}}</td>
<td>{{e.net|t3}}</td>
<td>{{e.diffn|t3}}</td>
<td>{{e.diff1|t3}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<!-- end class list -->

</td><td class='halfwidth'>

<!-- champlist -->

{% if champ is string %}
<div class='halffiller'>
{{champ}}
</div>
{% else %}
<table id='champtable' class='res'>
<tbody>
<tr class='header'><th colspan='4'>Champ - {{driver.classcode}}</th></tr>
<tr class='titles'><th>#</th><th>Name</th><th></th><th>Points</th></tr>
{% for e in champ %}
<tr class='{{e.current and 'highlight' or ''}} {{e.ispotential and 'couldhave' or ''}} {{e.isold and 'improvedon' or ''}}'>
<td>{{e.position}}</td>
<td>{{e.firstname}} {{e.lastname}}</td>
<td>{{e.eventcount}}</td>
<td>{{e.points.total|t3}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<!-- end champ list -->

</td></tr></table>


