
table.reglist thead {
background-color:#888;
color: white;
font-weight: bold;
}
	
table.reglist tbody td {
background-color:#eee;
padding: 1px 5px 1px 5px;
}
	
ol li { padding-bottom: 5px; }
ol li li { padding-bottom: 0px; }


label {
	text-align: right;
	margin-right: 10px;
}

.body {
	margin-left: 20px;
	font-size: 0.9em !important;
	color: #337;
}

.sf-menu li {
	font-size: 0.9em;
}
.sf-menu li li {
	font-size: 0.8em;
}

table.input th {
	text-align: right;
	padding-right: 10px;
}

div.error { 
	color: #FF0000; 
	font-weight: bold;
}


li { font-size: 100%; }
li li { font-size: 90%; }

.labelcol { 
	text-align: right; 
	font-weight: bold;
}

.fieldcol {
}

.fielderror {
    color: red;
    font-weight: bold;
}

.even td, .odd td {
	padding-top: 8px;
	border-bottom: 1px solid #DDD;
}

.even:hover, .odd:hover {
	background: #ddd;
}

#lastrow {
	border-bottom: none;
}

#templatelist li {
	margin-left: 0px;
}

#templatelist a {
	text-decoration:none;
}



/* superfish */


/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

