/** Driver form */

#driverhelp {
	margin: auto; 
	text-align: center; 
	color: #999; 
	margin-bottom: 4px; 
}

#drivereditor input { 
	width: 100%; 
}

#drivereditor th { 
	padding-left: 14px; 
	padding-right: 5px; 
}

#drivereditor th, #drivereditor td { 
	text-align: right; 
	font-weight: normal; 
}

#namerow th, #emailrow th { 
	font-weight: bold; 
}

#aliasrow th, #aliasrow td { 
	padding-top: 3px; 
	padding-bottom: 20px; 
}

#aliasrow td { 
	text-align: left; 
}

.error { 
	border: 1px solid red; 
}

/** Car form */

ul.numbers {
float: left;
margin: 0;
padding: 0;
list-style: none;
width: 410px;
}

ul.numbers li {
text-align: right;
font-size: 1.1em;
font-family: arial;
color: #EDD;
float: left;
width: 40px;
margin: 0;
padding: 0;
}

ul.numbers a {
text-decoration: none;
color: blue;
}


#numberdisplay {
vertical-align: middle;
margin-left: 5px;
margin-right: 15px;
font-size: 1.1em;
font-weight: bold;
color: #229;
}

#carerror {
margin: auto;
text-align: center;
}

#carerror label {
border: 0px;
display: block;
}

