
#serieslinks span {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	float: left;
	padding: 0px 6px;
	font-weight: bold;
	text-decoration: none;
}

#serieslinks a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	float: left;
	padding: 0px 6px;
	font-weight: bold;
	text-decoration: none;
	color: #44F;
}

#serieslinks {
	overflow: hidden;
	width: 950px;
	border-bottom: 1px solid #DDD;
}


#loginrow {
	margin-left: 20px;
	margin-top: 20px;
}

#orcell {
	font-weight: bold;
	font-size: 1.4em;
	padding-left: 30px;
	padding-right: 30px;
}

#othercell ul { 
	list-style: none; 
	padding: 0px;
	margin: 0px;
	font-size: 0.9em; 
}

#othercell li {
	padding: 3px; 
}
#othercell li button { 
	width: 100%;
	text-align: left; 
}


#logintable th { 
	text-align: right; 
}
#submit { 
	margin-top: 5px;
	text-align: right;
}

#header {
	margin-top: 6px;
}

#header a {
	line-height: 0px;
}

#header img 
{
	max-height: 60px; 
}

#seriesimg {
	float: left;
}

#sponsorimg {
	float: left;
	margin-left: 40px;
	height: 60px;
}

#sponsorimg img, #sponsorimg a {
	outline: none;
	border: 0px;
}

#seriesname { 
	clear: both;
	padding-top: 10px;
	margin-left: 20px;
	margin-bottom: 3px;
	font-size: 1.5em;
}

#hrule {
	clear: both;
	width: 800px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}

#errormsg {
	margin-top: 20px;
}

#errormsg span {
	margin-left: 20px;
}

h2 {
	margin-top: 5px;
	color: #444;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
}

.clear { clear: both; }

br { clear: left; }


#content {
	min-width: 1000px;
	width: 1000px;
	overflow: hidden;
}


.ui-widget {
	font-size: 0.8em !important;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.ui-button { }

.ui-accordion {}

.ui-accordion-content, .ui-accordion-header {
	border-color: #b8b8b8 !important;
} 

h3.ui-accordion-header a {
	color: #0073EA;
}

h3.eventclosed span {
	color: #999;
}


#colcontainer {
	margin-top: 10px;
}

#events, #rightcol {
	vertical-align: top;
	background: #f6f9f9;
	border: 1px solid #b8b8b8;
	-moz-border-radius: 9px; -khtml-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px;
	padding: 10px;
	height: 100%;
}

#events {
	background: #f6f6ff;
	width: 400px;
}

#rightcol {
	background: #f6f9f9;
}

#events .eventday {
	float: left;
	width: 27px;
	margin-right: 2px;
}

#events .eventmonth {
	float: left;
	width: 27px;
	margin-right: 2px;
}

#events .eventdate {
	float: left;
	width: 23px;
	margin-right: 2px;
}

#events .eventname {
	clear: left;
}

.helpbox {
	margin-top: 20px;
	margin-left: 10px;
	text-align: justify;
	font-size: 0.9em;
	color: #666;
	width: 600px;
}


.carspaceholder {
	height: 25px;
}

.eselector {
	display: inline !important;
	width: 280px;
	margin-top: 0px;
	margin-bottom: 4px;
	vertical-align: top;
}

.eselector + button {
	height: 20px;
}

.notifier {
	font-weight: bold;
	height: 23px;
}

.erule
{
	margin-top: 10px;
	margin-bottom: 8px;
	border-bottom: 1px solid #AAA;
	font-size: 0.9em;
}

span.limit
{
	font-size: 0.85em;
	white-space:nowrap;
}

span.elabel
{
	clear: left;
	float: left;
	width: 65px;
	text-align: right;
	margin-bottom: 2px;
	margin-right: 10px;
	font-weight: bold;
}

.evalue
{
	float: left;
}


#profile {
	font-family: Helvetica, sans-serif;
}

#profile span {
	font-size: 0.8em;
	display: block;
}

#profile span.name, #profile span.email {
	font-size: 0.9em;
	font-weight: bold;
}

#profile .ui-button {
	font-size: 0.7em !important;
	margin-top: 10px;
}

#cars  {
	border-top: 1px solid #b8b9b8;
	padding-top: 5px;
	margin-top: 20px;
}

#carlist {
	margin-left: 0px;
	padding: 0;
}


#carlist td, #carlist th {
	font-family: Helvetica, sans-serif;
}

#carlist th {
	font-size: 0.8em;
}

#carlist button {
	height: 25px;
}

#carlist .carclass {
	text-align: right;
	padding-left: 3px;
}

#carlist .carnumber {
	font-size: 1.0em;
}

#carlist .cardesc, #carlist .carindex {
	font-size: 0.8em;
}

#createcar {
	margin-top: 5px; 
	font-size: 0.7em !important;
}


/* view entries */

table.carlist {
    border: solid 1px #555;
    border-collapse: collapse;
    empty-cells: show;
    font-family: arial;
    width: 450px;  /* along with nowrap below this become min-width, even in IE */
}

table.carlist td, table.carlist th {
    border: solid 1px #555;
    padding: 3px;
    font-size: 0.9em;
    text-align: left;
    white-space:nowrap;
}

table.carlist td.number, table.carlist td.counter {
    text-align: center;
}

table.carlist th {
    background: rgb(30, 115, 234);
    color: white;
    font-weight: bold;
}

.viewbutton {
	margin-left: 15px;
}

.viewbutton span {
	padding: 0px 10px 0px 10px !important;
}


#lockedmessage {
	margin-top: 10px;
}

.viewlist {
	margin-top: 0px;
	margin-left: 40px;
}

.viewlist h3 {
	color: #333;
}

.viewlist ul {
	list-style: none; 
	padding: 0px;
	font-size: 1.0em; 
	margin-left: 10px;
}

.viewlist li {
	padding: 0px; 
}


.viewheader {
	margin-top: 20px;
	margin-left: 10px;
	font-weight: bold;
	color: #444;
	font-family: Helvetica, sans-serif;
}

.viewtable {
	margin-left: 20px;
}

.viewtable td, .viewtable th {
	font-size: 0.85em;
	color: #666;
	text-align: left;
}

.viewtable td:last-child {
	text-align: right;
}

.viewtable .vweekday {
	padding-left: 20px;
}


