
#serieslinks span {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	float: left;
	padding: 0px 6px;
	font-weight: bold;
	text-decoration: none;
}

#serieslinks a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	float: left;
	padding: 0px 6px;
	font-weight: bold;
	text-decoration: none;
	color: #44F;
}

#serieslinks {
	overflow: hidden;
	border-bottom: 1px solid #DDD;
}


#loginrow {
	margin-left: 20px;
	margin-top: 20px;
}

#orcell {
	font-weight: bold;
	font-size: 1.4em;
	padding-left: 30px;
	padding-right: 30px;
}

#othercell ul { 
	list-style: none; 
	padding: 0px;
	margin: 0px;
	font-size: 0.9em; 
}

#othercell li {
	padding: 3px; 
}
#othercell li button { 
	width: 100%;
	text-align: left; 
}


#logintable th { 
	text-align: right; 
}
#submit { 
	margin-top: 5px;
	text-align: right;
}

#header {
	margin-top: 6px;
}

#seriesimg {
	float: left;
}

#sponsor {
	float: left;
	margin-left: 40px;
}

#seriesname { 
	clear: both;
	padding-top: 10px;
	margin-left: 20px;
	margin-bottom: 3px;
	font-size: 1.5em;
}

#hrule {
	clear: both
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}

#errormsg {
	margin-top: 20px;
}

#errormsg span {
	margin-left: 20px;
}

h2 {
	margin-top: 5px;
	color: #444;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
}

.clear { clear: both; }

br { clear: left; }


#content {
	min-width: 900px;
	width: 900px;
	overflow: hidden;
}


.ui-widget {
	font-size: 0.8em !important;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.ui-button { }

.ui-accordion-content { }

h3.ui-accordion-header a {
	color: #0073EA;
}

h3.eventclosed span {
	color: #999;
}

#events {
	float: left;
	width: 400px;
	margin-top: 10px;
}

#events .eventday {
	float: left;
	width: 27px;
	margin-right: 2px;
}

#events .eventmonth {
	float: left;
	width: 27px;
	margin-right: 2px;
}

#events .eventdate {
	float: left;
	width: 23px;
	margin-right: 2px;
}

#events .eventname {
	clear: left;
}

.carspaceholder {
	height: 22px;
}

.eselector { display: inline !important; width: 280px; margin-bottom: 4px; }
.eselector + button { height: 20px; }

.erule
{
	margin-top: 10px;
	margin-bottom: 8px;
	border-bottom: 1px solid #AAA;
	font-size: 0.9em;
}

span.limit
{
	font-size: 0.85em;
	white-space:nowrap;
}

span.elabel
{
	float: left;
	width: 65px;
	text-align: right;
	margin-bottom: 2px;
	margin-right: 10px;
	font-weight: bold;
}


#rightcol {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

#profile {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#profile span {
	font-size: 0.8em;
	display: block;
}

#cars  {
	margin-top: 20px;
}

#editprofile {
	margin-top: 10px;
}

#carlist {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 30px;
	padding: 0;
}

#carlist li {
	margin: 6px 0px;
	padding: 0.4em;
	height: 18px; 
}

#carlist li span {
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
}

#createcar { margin-left: 5px; }


