
table.reglist thead {
background-color:#888;
color: white;
font-weight: bold;
}
	
table.reglist tbody td {
background-color:#eee;
padding: 1px 5px 1px 5px;
}
	
ol li { padding-bottom: 5px; }
ol li li { padding-bottom: 0px; }


label {
	text-align: right;
	margin-right: 10px;
}

.body {
	margin-left: 20px;
}

table.input th {
	text-align: right;
	padding-right: 10px;
}

td.help {
	padding-left: 8px;
	font: 0.7em Arial;
}
	
div.error { 
	color: #FF0000; 
	font-weight: bold;
}


h1, h2, h3, h4 { font-family: helvetica; color: #111; }
li { font-family: helvetica; font-size: 15px; }
li li { font-size: 13px; }
li li li { font-size: 12px; }

.labelcol { 
	text-align: right; 
	font-weight: bold;
	font-family: helvetica;
	font-size: 14px;
	color: #444;
}

.fieldcol {
}

.fielderror {
    color: red;
    font-weight: bold;
}

.even td, .odd td {
	padding-top: 8px;
	border-bottom: 1px solid #DDD;
}

.even:hover, .odd:hover {
	background: #ddd;
}

#lastrow {
	border-bottom: none;
}

#templatelist li {
	margin-left: 0px;
}

#templatelist a {
	text-decoration:none;
}

