table.form {
  th, td {
    padding: 2px 2px 4px 2px;
  }
  th {
    text-align: right;
  }
}

.errormsg {
  color: red;
}

/****** car table ******/

table {
  &.carlist, &.careditor {
    border: solid 1px #333333;
    border-collapse: collapse;
    empty-cells: show;
    font-family: arial;
  }
  &.carlist {
    td, th {
      border: solid 1px #333333;
      padding: 2px;
      font-size: 0.9em;
      text-align: left;
    }
  }
  &.careditor {
    td, th {
      border: solid 1px #333333;
      padding: 2px;
      font-size: 0.9em;
      text-align: left;
    }
  }
  &.carlist {
    width: 450px;
    /* along with nowrap below this become min-width, even in IE */
    td {
      padding: 6px;
      white-space: nowrap;
      &.info {
        font-size: 0.8em;
        text-align: left;
        background: #DDD;
        padding: 2px;
      }
      &.number, &.counter {
        text-align: center;
      }
    }
    th {
      background: #7A8;
      color: white;
      text-align: left;
      font-weight: bold;
    }
  }
  &.careditor {
    thead th {
      background: #7A8;
      color: white;
      text-align: left;
      font-weight: bold;
    }
    th {
      text-align: right;
      font-weight: bold;
    }
  }
}

input.addnew {
  margin: 10px;
}

/****** event table ******/

table.eventlist {
  border: solid 1px #333333;
  border-collapse: collapse;
  empty-cells: show;
  td, th {
    padding: 2px 10px 2px;
    font: 0.9em arial, helvetica;
    text-align: left;
  }
  td {
    padding: 10px;
    border-bottom: solid 1px #333333;
    &.closed {
      background: #EEE;
      color: #666;
    }
  }
  th {
    background: #7A8;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}

/*** Events list ***/

a.elink {
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 5px;
  display: block;
  font-size: 1.2em;
}

span.elabel {
  float: left;
  width: 65px;
  text-align: right;
  margin-bottom: 2px;
  margin-right: 10px;
  font-weight: bold;
}

br {
  clear: left;
}

div {
  &.eaddress {
    margin-left: 60px;
  }
  &.enotes {
    margin-left: 60px;
    color: red;
  }
}

select.eselector {
  display: block;
  margin: 4px;
}

form {
  margin: 0px;
}

div {
  &.espacer {
    height: 20px;
  }
  &.erule {
    margin-bottom: 8px;
    border-bottom: 1px solid #aaaaaa;
    font-size: 0.9em;
  }
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  img {
    border: 0px;
  }
}

span.limit {
  font-size: 0.7em;
}

/*** Profile display ***/

div.display {
  margin-left: 10px;
  color: #444;
}

/*** Profile table ***/

table.profile th {
  text-align: right;
  padding-right: 8px;
  font: 0.9em helvetica;
  font-weight: bold;
}

/*** instruction boxes ***/

div.infobox {
  margin-bottom: 15px;
  padding-right: 20px;
  ul {
    font: 0.8em arial, helvetica;
    padding-left: 0px;
    margin-left: 0px;
    list-style-image: url(../images/info.png);
    list-style-position: inside;
  }
  li {
    margin: 0px;
    padding: 0px;
  }
}

/*** Other misc stuff ***/

td.center {
  text-align: center !important;
}

#currentuser {
  font-family: Arial;
  font-size: 10px;
  color: #FFF;
}

#availablelink {
  margin-left: 15px;
  font-family: Arial;
  font-size: 0.7em;
  color: #00F;
  text-decoration: none;
}

li {
  font: 1em arial, helvetica;
  margin-top: 0.5em;
}

/*** Main body structure ***/

#contentpane {
  position: absolute;
  left: 210px;
  top: 0px;
}

#sponser {
  margin-top: 8px;
  margin-bottom: 18px;
}

#error {
  color: #FF0000;
  font-weight: bold;
}

#content {
  margin-top: 15px;
  margin-bottom: 10px;
}

body {
  background: url(../images/navvertical.gif) repeat-y;
}

#nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  background: #568769;
  border-right: 1px solid gray;
  a {
    font: 1em Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
    display: block;
    color: #fff;
    border-bottom: 1px solid #333333;
    padding: 5px;
    &.notloggedin {
      background: #365;
      color: #576;
    }
    &.tab:hover {
      background: #6A8;
    }
  }
  p {
    text-align: center;
  }
}

/*********************************/

.labelcol {
  text-align: right;
  font-weight: bold;
}
