RewriteEngine On
RewriteBase /
RewriteRule ^coneheads.* - [L]
RewriteRule ^downloads/.* - [L]
RewriteRule ^doc/.* - [L]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule ^dreamhost.fcgi/ - [L]
RewriteRule ^(.*)$ dreamhost.fcgi/$1 [L]
#RewriteRule ^(.*)$ down.html [L]
Options +ExecCGI +FollowSymLinks
SetEnv no-gzip

