$basefont: Lucida Grande, Lucida Sans, Arial, sans-serif;
$grayborder: 1px solid #bbb;
$eventsborder: 1px solid #ccc;
$containerborder: 1px solid #aaa;
$linkblue: rgb(40,40,255);

@import "bootstrap.scss";
@import "forms.scss";

body {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  font-family: $basefont;
  font-size: 13px;
  color: #333;
}

a:active, a:focus, a {
    outline: none;
    border: 0;
    ie-dummy: expression(this.hideFocus=true);
}


#tabs {
    margin-top: 10px;
}

#loginouter {
    margin: auto;
    max-width: 20rem;
    margin-top: 2rem;

    label.error {
        position: relative;
        height: 0;
        margin: 0;
        top: -2rem;
        right: 1rem;
        float: right;
    }

    h1 {
        text-align: center;
    }

    input[type=text], input[type=email], input[type=password] {
        margin: 0.3rem 0px;
        height: 2rem;
    }

    input[type=submit] {
        margin-top: 0.5rem;
    }

    input[name=message] {
        display: none;
    }
}


#sponsorimg {
  margin-left: 10px;
  img, a {
    outline: none;
    border: 0px;
    line-height: 0px;
  }
}

#seriesname {
  margin-left: 20px;
  margin-bottom: 3px;
  font-size: 1.5em;
  font-family: "SegoeUI", $basefont;
}

.errorlog {
    color: #F00;
    margin-left: 40px;
    font-weight: bold;
}



.helpbox {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: 0.9em;
  color: #666;
  display: inline-block;
  ul {
    list-style: none;
  }
}


.strong {
  font-weight: bold;
  height: 23px;
  a {
    color: $linkblue !important;
    cursor: pointer;
  }
}

#profile {
  font-size: 1.2em;
  span {
    display: block;
    &.name, &.email {
      font-weight: bold;
    }
  }
  .ui-button {
    margin-top: 10px;
  }

  .registeredlink {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: $linkblue;
    margin-top: 5px;
    margin-bottom: 5px;
    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
    }
  }

}

#carlist {
  margin-left: 0px;
  margin-bottom: 5px;
  border-collapse: collapse;
  th {
    min-width: 26px;
    border-bottom: 1px solid #999;
    span {
      font-size: 140%;
      display: inline-block;
      min-width: 100px;
    }
  }
  td {
    vertical-align: top;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
}


/* view entries */

table.carlist {
  border: solid 1px #555555;
  border-collapse: collapse;
  empty-cells: show;
  td, th {
    border: solid 1px #555555;
    padding: 3px;
    text-align: left;
    white-space: nowrap;
  }
  td {
    &.number, &.counter {
      text-align: center;
    }
  }
  th {
    background: rgb(30, 115, 234);
    color: white;
    font-weight: bold;
  }
}

.viewbutton {
  margin-left: 15px;
  span {
    padding: 0px 10px 0px 10px !important;
  }
}

#lockedmessage {
  margin-top: 10px;
}

.viewlist {
  margin-top: 0px;
  margin-left: 40px;
  h3 {
    color: #333;
  }
  ul {
    list-style: none;
    padding: 0px;
    margin-left: 10px;
  }
  li {
    padding: 0px;
  }
}

.viewheader {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  color: #444;
}

.viewtable {
  margin-left: 20px;
  td, th {
    Xfont-size: 0.85em;
    color: #666;
    text-align: left;
  }
  td:last-child {
    text-align: right;
  }
}

table.eventdetails {
  th {
    vertical-align: top;
    text-align: right;
    font-size: 1.2em;
    &:after {
      content: ":";
    }
  }
  a {
    vertical-align: middle;
  }
}

#seriesimg, #sponsorimg {
  margin-top:5px;
  max-height: 60px;
  display: inline-block;
  vertical-align: middle;
}

#tabs {
  padding: 0px;
  background: none;
  border-width: 0px;
  .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
  }
}

#eventsinner {
    h3 {
        border-top: $eventsborder;
        border-left: $eventsborder;
        border-right: $eventsborder;
        border-radius: 0.5em 0.5em 0em 0em;
        margin: 0px;
        margin-top: -1px;
        padding: 5px;
        cursor: pointer;

        a {
            font-size: 1.2em;
        }

        &.eventopen a {
            color: $linkblue;
        }

        &.lastevent.collapsed {
            border-bottom: $eventsborder;
            border-radius: 0.5em 0.5em 0.5em 0.5em !important;
        }

        &.eventclosed span {
            color: #999;
        }

        .eventday, .eventmonth {
            display: inline-block;
            width: 30px;
            margin-right: 2px;
        }
    
        .eventdate {
            display: inline-block;
            width: 23px;
            margin-right: 2px;
        }
    }
}


.logout {
  position: relative;
  top: -35px;
  margin-right: 10px;
  float: right;
}

.limit {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
}

a.viewlink {
  font-weight: bold;
  color: $linkblue;
}

.cardisplay {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  span {
    display: block;
  }
  .code {
    font-weight: bold;
    font-size: 1.1em;
  }
  .desc {
    color: rgb(100,100,100);
    font-weight: normal;
  }
}

.ui-button {
 .cardisplay {
  .desc {
    color: rgb(200,200,200);
  }
 }
}

.ui-button.ui-state-active {
 .cardisplay {
  .desc {
    color: rgb(100,100,204);
  }
 }
}

.ui-button.ui-state-hover {
 .cardisplay {
  .desc {
    color: rgb(110,120,204);
  }
 }
}
    

.ui-button-icon-only {
  width: 25px !important;
  height: 25px !important;
}

.carevents {
  padding-left: 20px !important;
  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    color: gray;
  }
}


div.eventholder {
  background: #FFF;
  padding: 3px;
  margin: 0;
  border-radius: 0em 0em 0.5em 0.5em;
  border-left: $eventsborder;
  border-right: $eventsborder;
  border-bottom: $eventsborder;
  //@extend .ui-helper-clearfix;
}

div.detailscontainer, div.carcontainer {
  border-radius: 4px;
  border: $containerborder;
  background: #F0F0FF;
  padding: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 

  .header {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 3px;
    //color: $widgetHeaderBackground;
    display: block;
    text-align: center;
    border-bottom: 1px solid gray;
  }

  @media screen and (min-width: 751px) {
    vertical-align: top;
    float: left;
    width: 49%;
      min-height: 100px;
  }
  @media screen and (max-width: 750px) {
      display: block;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

#registereventform ul, #registercarform ul, .carcontainer ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

#registereventform li, #registercarform li, .carcontainer li {
  padding: 1px;
}

#registereventform label, #registercarform label {
  display: block;
  text-align: left;
}

.unregbutton {
  vertical-align: top;
}

.regblock {
  vertical-align: top;
  margin-left: 20px;
}

.currentcars {
  margin-bottom: 10px;
}

.eventselector select {
  //font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.hidden {
    display: none;
}

button {
    margin: 1px;
}

.statuslabel {
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: #611;
}

